<!DOCTYPE html>
<html>
<head>
    <title>Login CRM</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="login-container">

    <div class="login-box">

        <h1>🚀 ZyronDev</h1>

        <p>Gerencie seus clientes de forma simples.</p>

        {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for categoria, mensagem in messages %}

            <div class="alerta {{ categoria }}">
                {{ mensagem }}
            </div>

            <br>

        {% endfor %}
    {% endif %}
{% endwith %}

        <form action="/fazer_login" method="POST">

            <input
                type="text"
                name="usuario"
                placeholder="Usuário"
                required
            >

            <br><br>

            <input
                type="password"
                name="senha"
                placeholder="Senha"
                required
            >

            <br><br>

            <button type="submit">
                Entrar
            </button>

        </form>

        <br>

        <p>
    Não possui uma conta?
    <a href="/cadastro_usuario">Cadastre-se</a>
</p>

    </div>

</div>

</body>
</html>